<section class="p-3 main-con">
  <h3 class="text-lg-start mb-2 mt-1 text-capitalize">{{formTitle}}</h3>
  <hr>
<!--  <div class="bg-light">-->
<!--  <p>{{resource|json}}</p>-->
    <form #InputForm="ngForm"  enctype="multipart/form-data">

      <div class="row">
        <div class="col-12 col-lg-6 p-5 con__sub-01">
          <p *ngIf="resource.company != null">Company :{{resource.company}}</p>
          <div *ngIf="resource.company == null">
            <label for="company-select">Select Company:</label>
            <select  #company="ngModel" (ngModelChange)="onCompanySelectionChange($event)"
                    [(ngModel)]="resource.companyId" id="company-select"
                    name="company" required>

              <option *ngFor="let company of companies"  [ngValue]="company.id"   [selected]="resource.companyId === company.id"  >{{ company.name }}</option>

            </select>

            <div *ngIf="company.invalid && (company.dirty || company.touched)" class="alert">
              <div *ngIf="company.errors?.['required']">
                Company is required.
              </div>
            </div>
          </div>


<!--            <label class="mb-2" for="resource-desc">Description</label>-->
<!--            <textarea #description="ngModel" [(ngModel)]="resource.description" class="form-control" id="resource-desc1"-->
<!--                      name="resource-desc1" required rows="8"></textarea>-->
<!--            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert">-->
<!--              <div *ngIf="description.errors?.['required']">-->
<!--                Description is required.-->
<!--              </div>-->
<!--            </div>-->

            <!--USERID-->
          <br>
            <mat-form-field  class="justifier mt-0" style="width:100%" floatlabel="auto" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput
                        name="resource-desc"
                        rows="8"
                        id="resource-desc"
                        type="text"
                        style="width:100%;"
                        [(ngModel)]="resource.description"
                        #description="ngModel"
                        class="field"
                        required></textarea>
              <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.errors?.['required']" class="alert ">Description is required.</mat-error>
            </mat-form-field>&nbsp;

<!--            <label class="mb-2" for="floor">Floor</label>-->
<!--            <input #floor="ngModel" [(ngModel)]="resource.floor" class="form-control" id="floor1" name="floor1"-->
<!--                   required type="number">-->
<!--            <div *ngIf="floor.invalid && (floor.dirty || floor.touched)" class="alert">-->
<!--              <div *ngIf="floor.errors?.['required']">-->
<!--                floor is required.-->
<!--              </div>-->
<!--            </div>-->

            <mat-form-field  class="justifier mt-0" style="width:100%;" floatlabel="auto" appearance="outline">
              <mat-label>Floor</mat-label>
              <input matInput
                     name="floor"
                     id="floor"
                     style="width:100%;"
                     type="number"
                     [(ngModel)]="resource.floor"
                     #floor="ngModel"
                     class="field"
                     required/>
              <mat-error *ngIf="floor.invalid && (floor.dirty || floor.touched) && floor.errors?.['required']" class="alert">Floor is required.</mat-error>
            </mat-form-field>&nbsp;


          <mat-form-field  class="justifier mt-0" style="width:100%;" floatlabel="auto" appearance="outline">
            <mat-label>Building ID:</mat-label>
            <input matInput
                   name="building-id"
                   id="building-id"
                   style="width:100%;"
                   type="text"
                   [(ngModel)]="resource.buildingId"
                   #buildingID="ngModel"
                   class="field"
                   required/>
            <mat-error *ngIf="buildingID.invalid && (buildingID.dirty || buildingID.touched) && buildingID.errors?.['required']" class="alert">BuildingId is required.</mat-error>
          </mat-form-field>&nbsp;






<!--          <div class="mb-3">-->
<!--            <label class="mb-2" for="building-id">Building ID</label>-->
<!--            <input #bId="ngModel" [(ngModel)]="resource.buildingId" class="form-control" id="building-id"-->
<!--                   name="building-id"-->
<!--                   required type="text">-->

<!--            <div *ngIf="bId.invalid && (bId.dirty || bId.touched)" class="alert">-->
<!--              <div *ngIf="bId.errors?.['required']">-->
<!--                Building Id is required.-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


        </div>
        <div class="col-12 col-lg-6 p-5 con__sub-02">

          <!-- todo-->
          <!--          <div class="mb-3">-->
          <!--            <label class="mb-2" for="rateCard-id">Rate Card ID (optional )</label>-->
          <!--            <input class="form-control" id="rateCard-id" name="rateCard-id" type="number" [(ngModel)]="resource.rateCardId" >-->
          <!--          </div>-->

          <mat-label>Resource Type:</mat-label>
<!--          <select class="mb-4" name="type" id="types">-->
          <select matNativeControl
                  name="resource-type"
                  id="resource-type"
                  style="width:100%;"
                  [(ngModel)]="resource.resourceType"
                  #rcType="ngModel"
                  class="field mb-4"
                  required>

            <option value=1>Cubicle</option>
            <option value=2>Meeting Room</option>
            <option value=3>Conference Room</option>
            <option value=4>Lounge Area</option>
          </select>
<!--          <mat-form-field  appearance="outline">-->

<!--            <input matInput-->
<!--                   name="resource-type"-->
<!--                   id="resource-type"-->
<!--                   style="width:100%;"-->
<!--                   type="number"-->
<!--                   [(ngModel)]="resource.resourceType"-->
<!--                   #rcType="ngModel"-->
<!--                   class="field"-->
<!--                   required/>-->


<!--&lt;!&ndash;            <mat-error *ngIf="rcType.invalid && (rcType.dirty || rcType.touched) && rcType.errors?.['required']" class="alert">Resource Type is required.</mat-error>&ndash;&gt;-->
<!--          </mat-form-field>&nbsp;-->








<!--          <div class="mb-3">-->
<!--            <label class="mb-2" for="resource-type">Resource Type</label>-->
<!--            <input #rcType="ngModel" [(ngModel)]="resource.resourceType" class="form-control" id="resource-type"-->
<!--                   name="resource-type"-->
<!--                   required type="number">-->
<!--            <div *ngIf="rcType.invalid && (rcType.dirty ||rcType.touched)" class="alert">-->
<!--              <div *ngIf="rcType.errors?.['required']">-->
<!--                Resource Type is required.-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <div class="mb-3">



<!--            <label class="mb-2" for="max-capacity">Maximum Capacity</label>-->
<!--            <input #mCapacity="ngModel" [(ngModel)]="resource.maximumCapacity" class="form-control" id="max-capacity"-->
<!--                   name="max-capacity"-->
<!--                   required type="number">-->
<!--            <div *ngIf="mCapacity.invalid && (mCapacity.dirty ||mCapacity.touched)" class="alert">-->
<!--              <div *ngIf="mCapacity.errors?.['required']">-->
<!--                Maximum capacity is required.-->
<!--              </div>-->
<!--            </div>-->
            <mat-form-field  class="justifier mt-0" style="width:100%;" floatlabel="auto" appearance="outline">
              <mat-label>Maximum Capacity:</mat-label>
              <input matInput
                     name="maximum-capacity"
                     id="maximum-capacity"
                     style="width:100%;"
                     type="number"
                     [(ngModel)]="resource.maximumCapacity"
                     #mCapacity="ngModel"
                     class="field"
                     required/>
              <mat-error *ngIf="mCapacity.invalid && (mCapacity.dirty || mCapacity.touched) && mCapacity.errors?.['required']" class="alert">Maximum Capacity is required.</mat-error>
            </mat-form-field>&nbsp;

          </div>

          <div class="form-check mb-2">
            <input [(ngModel)]="resource.activeStatus" checked class="form-check-input" id="active-status"
                   name="active-status" type="checkbox"
                   value="true">
            <label class="form-check-label" for="active-status">
              Active Status
            </label>
          </div>

          <div class="form-check mb-3">
            <input [(ngModel)]="resource.availability" checked class="form-check-input" id="availability"
                   name="availability" type="checkbox"
                   value="true">
            <label class="form-check-label" for="availability">
              Availability
            </label>
          </div>

          <!--          todo-->
          <!--          <div class="mb-3">-->
          <!--            <label for="formFile" class="form-label">Default file input example</label>-->
          <!--            <input class="form-control" type="file" id="formFile">-->
          <!--          </div>-->

          <div class="mb-2">
<!--            <label class="mb-2" for="img-url">Image URL</label>-->
<!--            <input #imgUrl="ngModel" [(ngModel)]="resource.imgUrl" class="form-control" id="img-url"-->
<!--                   maxlength="125" name="img-url" required type="text">-->

                        <img [src]="url" alt=""  width="150px">

            <br>

            <input class="pt-3" type="file" (change)="onSelectFile($event)">


<!--            <div *ngIf="imgUrl.invalid && (imgUrl.dirty ||imgUrl.touched)" class="alert">-->
<!--              <div *ngIf="imgUrl.errors?.['required']">-->
<!--                Image Url is required.-->
<!--              </div>-->
<!--            </div>-->



          </div>

          <div class="d-flex gap-3 justify-content-end align-items-center mt-4">
            <button *ngIf="resource.company == null" (click)="addResource()" [disabled]="InputForm.invalid" class="btn btn-primary">Submit</button>
            <button *ngIf="resource.company != null"(click)="updateResource()" [disabled]="InputForm.invalid" class="btn btn-primary">Update</button>
<!--            <button (click)="openAddRateCardDialog()" class="btn btn-primary">Add RateCard</button>-->
            <button (click)="goBack()" class="btn btn-primary">Back</button>
          </div>

        </div>

      </div>
    </form>
<!--  </div>-->
</section>

