@media (max-width: 992px) {
  .main-con{
    padding: 1.5rem .5rem!important;
  }
  .con__sub-01{
    padding-bottom: .3rem!important;
  }
  .con__sub-02{
    padding-top: .3rem!important;
  }
}

.main-con{
  background: #154c79;
}
h3{
  color: azure;
  font-size: xx-large;
}

.alert{
  color:red;
  margin-bottom: 10px;
  text-align: left;
  margin-top: -20px;
}
