@media (max-width: 668px) {
  .main-con{
    width: 300px !important;
  }
}
.main-con{
  background:rgb(233,231,240);
  width: 500px;
}

//.alert{
//  color: red;
//  margin-bottom: 0px;
//  text-align:left;
//  margin-top: 0px;
//}
