<div class="content  mat-elevation-z4" style="background-color: #050858;" >
<!--  {{user| json}}-->
  <h2 style="color:#fff;font-size: 32px;">{{formTitle}}</h2>
  <div class="content2 mat-elevation-z4" style="background-color: #C3E5F9;  " >
    <div class="form-body" style="margin-top: 20px; margin-left: 25px;">
      <div class="row">
        <div class="column">
          <form #InputForm="ngForm">
            <div style="font-size: 16px">

              <!--USERID-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>UserId</mat-label>
                <input matInput
                       name="id"
                       id="id"
                       type="number"
                       [(ngModel)]="user.userId"
                       #id="ngModel"
                       class="field"
                       required/>
                <mat-error *ngIf="id.invalid && (id.dirty || id.touched) && id.errors?.['required']" class="alert">Userid is required.</mat-error>
              </mat-form-field>&nbsp;

              <!--EMAIL-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input
                  type="email"
                  matInput
                  name="email"
                  id="email"
                  [(ngModel)]="user.email"
                  #email="ngModel"
                  [pattern]="emailPtn"
                  class="field"
                  formController="email"
                  required/>
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['required']" class="alert">Email is required.</mat-error>
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['pattern']" class="alert">Enter valid email.</mat-error>
              </mat-form-field>

              <!--FIRSTNAME-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  name="firstName"
                  id="firstName"
                  [(ngModel)]="user.firstName"
                  #firstName="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) && firstName.errors?.['required']" class="alert">first name is required.</mat-error>
              </mat-form-field>&nbsp;

              <!--CONTACT NUMBER-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input
                  matInput
                  name="contactNo"
                  id="contactNo"
                  [(ngModel)]="user.contactNo"
                  #contactNo="ngModel"
                  [pattern]="mobNumberPattern"
                  class="field"
                  required/>
                <mat-error *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched) && contactNo.errors?.['required']" class="alert">Contact Number is required.</mat-error>
                <mat-error *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched) && contactNo.errors?.['pattern']" class="alert">Contact number must have 10 digits</mat-error>
              </mat-form-field>

              <!--MIDDLE NAME-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input
                  matInput
                  name="middleName"
                  id="middleName"
                  [(ngModel)]="user.middleName"
                  #middleName="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="middleName.invalid && (middleName.dirty || middleName.touched) && middleName.errors?.['required']" class="alert">middle name is required.</mat-error>
              </mat-form-field>&nbsp;

              <!--LAST NAME-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  name="lastName"
                  id="lastName"
                  [(ngModel)]="user.lastName"
                  #lastName="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) && lastName.errors?.['required']" class="alert">last name is required.</mat-error>
              </mat-form-field>&nbsp;

              <!--USER TYPE-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>User Type</mat-label>
                <input
                  matInput
                  name="userType"
                  id="userType"
                  [(ngModel)]="user.userType"
                  #userType="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="userType.invalid && (userType.dirty || userType.touched) && userType.errors?.['required']" class="alert">user type is required.</mat-error>
              </mat-form-field>&nbsp;

              <!--USER NAME-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>User Name</mat-label>
                <input
                  matInput
                  name="userName"
                  id="userName"
                  [(ngModel)]="user.userName"
                  #userName="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="userName.invalid && (userName.dirty || userName.touched) && userName.errors?.['required']" class="alert">userName is required.</mat-error>
              </mat-form-field>

              <!--PASSWORD-->
              <mat-form-field  class="justifier"  appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  name="password"
                  id="password"
                  [(ngModel)]="user.password"
                  #password="ngModel"
                  class="field"
                  type="password"
                  required/>
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.['required']" class="alert">Password is required.</mat-error>
              </mat-form-field>&nbsp;

              <!--MANAGEREID-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>ManagerEId</mat-label>
                <input
                  matInput
                  name="managersEIDL"
                  id="managersEIDL"
                  [(ngModel)]="user.managersEID"
                  #managersEID="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="managersEID.invalid && (managersEID.dirty || managersEID.touched) && managersEID.errors?.['required']" class="alert">managersEID is required.</mat-error>

              </mat-form-field>

<!--<div class="add">-->

              <!--ADDRESS-->
              <mat-form-field  class="add" floatlabel="auto" appearance="outline">
                <mat-label>Address</mat-label>
                <input
                  matInput
                  name="address"
                  id="address"
                  [(ngModel)]="user.address"
                  #address="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="address.invalid && (address.dirty || address.touched) && address.errors?.['required']" class="alert">Address is required.</mat-error>
              </mat-form-field>

              <!--ADDRESSLINE2 TODO-->
<!--          <mat-form-field  class="add" floatlabel="auto" appearance="outline">-->
<!--             <mat-label>Address Line2</mat-label>-->
<!--             <input matInput class="field" required/>-->
<!--          </mat-form-field>-->
<!--</div>-->

              <!--DISTRICT TODO-->
<!--          <mat-form-field class="justifier" floatlabel="auto" appearance="outline">-->
<!--            <mat-label>Select District</mat-label>-->
<!--            <mat-select>-->
<!--              <mat-option value="ampara">Ampara</mat-option>-->
<!--              <mat-option value="anuradhapura">Anuradhapura</mat-option>-->
<!--              <mat-option value="badulla">Badulla</mat-option>-->
<!--              <mat-option value="batticaloa">Batticaloa</mat-option>-->
<!--              <mat-option value="galle">Galle</mat-option>-->
<!--              <mat-option value="colombo">Colombo</mat-option>-->
<!--              <mat-option value="gampaha">Gampaha</mat-option>-->
<!--              <mat-option value="hambantota">Hambantota</mat-option>-->
<!--              <mat-option value="jaffna">Jaffna</mat-option>-->
<!--              <mat-option value="kalutara">Kalutara</mat-option>-->
<!--              <mat-option value="kandy">Kandy</mat-option>-->
<!--              <mat-option value="kegalle">Kegalle</mat-option>-->
<!--              <mat-option value="kilinochchi">Kilinochchi</mat-option>-->
<!--              <mat-option value="kurunegala">Kurunegala</mat-option>-->
<!--              <mat-option value="mannar">Mannar</mat-option>-->
<!--              <mat-option value="matale">Matale</mat-option>-->
<!--              <mat-option value="monaragala">Monaragala</mat-option>-->
<!--              <mat-option value="mullaitivu">Mullaitivu</mat-option>-->
<!--              <mat-option value="nuwara Eliya">Nuwara Eliya</mat-option>-->
<!--              <mat-option value="polonnaruwa">Polonnaruwa</mat-option>-->
<!--              <mat-option value="puttalam">Puttalam</mat-option>-->
<!--              <mat-option value="ratnapura">Ratnapura</mat-option>-->
<!--              <mat-option value="trincomalee">Trincomalee</mat-option>-->
<!--              <mat-option value="vavuniya">Vavuniya</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>&nbsp;-->

              <!--CITY TODO-->
<!--          <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">-->
<!--            <mat-label>City</mat-label>-->
<!--            <input matInput name="city" id="city" [(ngModel)]="user.city" #city="ngModel" class="field" required/>-->
<!--            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert">-->
<!--              <div *ngIf="city.errors?.['required']">-->
<!--                City is required.-->
<!--              </div>-->
<!--            </div>-->
<!--          </mat-form-field>-->

              <!--IMAGE-->
              <mat-form-field  class="add" floatlabel="auto" appearance="outline">
                <mat-label>Image</mat-label>
                <input
                  matInput
                  name="imageURL"
                  id="imageURL"
                  [(ngModel)]="user.imageURL"
                  #imageURL="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="imageURL.invalid && (imageURL.dirty || imageURL.touched) && imageURL.errors?.['required']" class="alert">ImageURL is required.</mat-error>
              </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;

              <!--GENDER-->
              <mat-label style="color: #212529">Gender </mat-label>
              <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="gender" id="gender-m" value="M" [(ngModel)]="user.gender">
                <label style="color:#000000;" class="form-check-label" for="gender-m">
                  Male
                </label>
              </div>

              <div class="form-check mb-4">
                <input class="form-check-input" type="radio" name="gender" id="gender-f" value="F" [(ngModel)]="user.gender">
                <label style="color:#000000;" class="form-check-label" for="gender-f">
                  Female
                </label>
              </div>

              <!--ACTIVE STATUS-->
              <mat-checkbox
                name="activeStatus"
                id="activeStatus"
                [(ngModel)]="user.activeStatus"
                #activeStatus="ngModel"
                color="primary"
                style="font-size: 14px;">
                Active Status
              </mat-checkbox>

            </div>

            <!--BUTTONS AND IMAGE-->
              <table border="0" class="tbl">
                <tr>
                  <td style="text-align: center;">
                    <button mat-button (click)="addUser()" class="button">
                      <p>Submit </p>
                    </button>
                    <button mat-button class="button" [routerLink]="['/add']" (click)="goBack()">
                      <p>Back </p>
                    </button>
                  </td>
                  <td style="text-align: right;">
                    <img class="image" src="assets/img/add user .png" style="height:145px; width: 175px; margin-right: 50px;">
                  </td>
                </tr>
              </table>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>


