
<section class="p-2 main-con">
  <h3 class="text-center mb-3 mt-1  text-capitalize">{{formTitle}}</h3>
  <div class="bg-light">
    <form #InputForm="ngForm">
<!--      {{resource|json}}-->
<!--      "activeStatus": true,-->



      <div class="row">
        <div class="col-12 col-lg-6 p-4 con__sub-01">
          <div class="mb-4">
            <label class="mb-2" for="user-name">User Name</label>
            <input class="form-control" id="user-name" name="user-name" type="text"  [(ngModel)]="user.userName" >
          </div>
          <div class="mb-4">
            <label class="mb-2" for="password">Password</label>
            <input class="form-control" id="password" name="password" type="password"  [(ngModel)]="user.password" >
          </div>

          <div class="mb-4">
            <label class="mb-2" for="user-id">User ID</label>
            <input class="form-control" id="user-id" name="user-id" type="text" required  [(ngModel)]="user.userId">
          </div>
          <div class="mb-4">
            <label class="mb-2" for="user-type">User Type</label>
            <input class="form-control" id="user-type" name="user-type" type="number" required [(ngModel)]="user.userType">
          </div>

          <div class="mb-4">
            <label class="mb-2" for="first-name">First Name</label>
            <input class="form-control" id="first-name" name="first-name" type="text" [(ngModel)]="user.firstName">
          </div>
          <div class="mb-4">
            <label class="mb-2" for="middle-name">Middle Name</label>
            <input class="form-control" id="middle-name" name="middle-name" type="text" [(ngModel)]="user.middleName" >
          </div>
          <div class="mb-4">
            <label class="mb-2" for="last-name">Last Name</label>
            <input class="form-control" id="last-name" name="last-name" type="text" [(ngModel)]="user.lastName">
          </div>

          <div class="mb-4">
            <label class="mb-2" for="email">Email</label>
            <input class="form-control" id="email" name="email" type="email"  [(ngModel)]="user.email" >
          </div>

        </div>


        <div class="col-12 col-lg-6 p-5 con__sub-02">

          <div class="mb-4">
            <label class="mb-2" for="address">Address</label>
            <input class="form-control" id="address" name="address" type="text" [(ngModel)]="user.address"  >
          </div>

          <div class="mb-4">
            <label class="mb-2" for="manager-eid">Managers Employee ID</label>
            <input class="form-control" id="manager-eid" name="manager-eid" type="number"[(ngModel)]="user.managersEIDL" >
          </div>

          <div class="mb-4">
            <label class="mb-2" for="contact-no">Contact Number</label>
            <input class="form-control" id="contact-no" name="contact-no" type="number" [(ngModel)]="user.contactNo">
          </div>


          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="gender" id="gender-m" value="M" [(ngModel)]="user.gender">
            <label class="form-check-label" for="gender-m">
              Male
            </label>
          </div>

          <div class="form-check mb-4">
            <input class="form-check-input" type="radio" name="gender" id="gender-f" value="F" [(ngModel)]="user.gender">
            <label class="form-check-label" for="gender-f">
              Female
            </label>
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="true" name="active-status" id="active-status" [(ngModel)]="user.activeStatus" >
            <label class="form-check-label" for="active-status">
              Active Status
            </label>
          </div>

          <div class="mb-4">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile">
          </div>

          <div class="mb-3">
            <label class="mb-2" for="img-url">Image URL</label>
            <input class="form-control" id="img-url" name="img-url" type="text" [(ngModel)]="user.imageURL">
          </div>

          <div class="d-flex gap-3 justify-content-end align-items-center">
              <button class="btn btn-primary"  (click)="addUser()">Submit</button>
            <button class="btn btn-primary">Cancel</button>
          </div>

        </div>


      </div>
    </form>
  </div>
</section>

