.tbl{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  //border-radius: 25px;

  // background-color: #777ba0;
  background-color: white;

  .head{
    background-color: #297940;
    border-radius: 2px;
    color: white;
    text-align: center;


  }


}
