
<div class="tbl">
  <h5>Allocated Bookings for selected resource....</h5>
  <table class="table table-bordered">
    <thead>
    <tr>
      <td scope="col" class="head">Date</td>
      <td scope="col" class="head">Booking ID</td>
      <td scope="col" class="head">Start Time</td>
      <td scope="col" class="head">End Time</td>
    </tr>
    </thead>
    <tbody>

    <tr  *ngFor="let allocation of resourceWiseAllocationList">
      <td>{{allocation.requiredDate}}</td>
      <td>{{allocation.id}}</td>
      <td>{{allocation.startTime}}</td>
      <td>{{allocation.endTime}}</td>
    </tr>


    </tbody>
  </table>
</div>
