<!--<p>add-menu works!</p>-->
<!--<div class="box-grid">-->
<!--  <div class="box" (click)="openReport1()">-->
<!--    <p>sample report 1</p>-->
<!--  </div>-->
<!--  <div class="box" (click)="openReport2()">-->
<!--    <p>sample report 2</p>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container" >-->
<!--  <div class="row" style="margin-top: 150px; margin-bottom: 190px">-->
<!--    <div class="col-md-3 m-lg-auto card" (click)="openCompanyWiseReport()">-->
<!--      <div class="card shadow-lg ">-->
<!--        <img src="assets/img/report1.jpg" alt="" class="img-fluid">-->
<!--        <div class="card d-flex align-items-center ">-->
<!--          <div class="card-body text-center ">-->
<!--            <p class="h3">Company-Wise Report</p>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-3 m-lg-auto card " (click)="openGeneralReport()">-->
<!--      <div class="card shadow-lg">-->
<!--        <img src="assets/img/report2.jpg" alt="" class="img-fluid">-->
<!--        <div class="card d-flex align-items-center">-->
<!--          <div class="card-body text-center">-->
<!--            <p class="h3">General Report</p>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container-fluid d-flex justify-content-center">

<div class="row" style="margin-top: 100px; margin-bottom: 160px">

  <div class="col-md-6 border-right" (click)="openCompanyWiseReport()">
    <div class="cards m-3 ">


      <div class="first p-4 text-center" style="background-color:#043e7d">
        <img src="assets/img/report.png" height="220px" ><br>

        <p>Company wise<br>Report</p>

      </div>

    </div>

  </div>



  <div class="col-md-6 border-right" (click)="openGeneralReport()">
    <div class="cards m-3 ">
      <div class=" second  p-4 text-center" style="background-color:#2a6f97">
        <img src="assets/img/report2.png" height="220px"/>

        <p>General<br>Report</p>


      </div>
    </div>
  </div>


</div>
</div>


