<div class="container-fluid d-flex justify-content-center">

<div class="row" style="margin-top: 100px; margin-bottom: 160px">

  <div class="col-md-6 border-right" (click)="openCompanyWiseReport()">
    <div class="cards m-3 ">
      <div class="first p-4 text-center" style="background-color:#043e7d">
        <img src="assets/img/report.png" height="220px" ><br>
        <p>Company wise<br>Report</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 border-right" (click)="openGeneralReport()">
    <div class="cards m-3 ">
      <div class=" second  p-4 text-center" style="background-color:#2a6f97">
        <img src="assets/img/report2.png" height="220px"/>
        <p>General<br>Report</p>
      </div>
    </div>
  </div>


</div>
</div>


