<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
<!--    <i class="fa-solid fa-bars"> </i>-->

    <fa-icon [icon]="icon1"></fa-icon>
  </div>

  <a  class="navbar-brand px-4" href="#"><span style="font-weight:initial;font-family:'Shantell Sans', cursive;
 ">Alloc@</span></a>
  <div class="navbar-collapse">
<!--    <ul class="navbar-nav me-auto">-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">-->
<!--          Menu1-->
<!--        </a>-->
<!--        <ul class="dropdown-menu dropdown-menu-dark">-->
<!--          <li><a class="dropdown-item" href="#">child1</a></li>-->
<!--          <li><a class="dropdown-item" href="#">child2</a></li>-->
<!--          <li><a class="dropdown-item" href="#">child3</a></li>-->
<!--        </ul>-->
<!--      </li>-->

<!--    </ul>-->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>

  </div>


  <div class="profile-logo ">
    <li class="nav-item dropdown m-0 p-0"  >
      <a  (click)="dropDownOpen()" href="#" role="button"    data-bs-toggle="dropdown" aria-expanded="false">
        <img class="me-2" style="width:2.5rem  ;border-radius: 50%" src="https://img.freepik.com/free-icon/avatar_318-158392.jpg">
      </a>
      <p  class="d-inline" style="color: white">{{currentUserName}}</p>
      <ul class="dropdown-menu" [ngClass]="{show:dropDownStatus}">
        <li><a class="dropdown-item" href="#" [routerLink]="['/dashboard/user-profile',this.currentUserName]" >View Profile</a></li>
        <li><a class="dropdown-item" href="#">Edit Profile</a></li>
      </ul>
    </li>

  </div>

</nav>




<!--<nav class="navbar navbar-expand-lg bg-light  navbar-light " style="margin-bottom: 10px">-->
<!--  <div class="container-fluid">-->

<!--    <div class="side-nav-button p-2 me-3 text-light">-->
<!--      <i class="fa-solid fa-bars"><img style="width: 3rem" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAMFBMVEX///8AAADl5eX09PTV1dUICAiurq5TU1Orq6tJSUnc3Nzt7e1ERET6+vpRUVG9vb0gCS9GAAAA8ElEQVR4nO3dOQ4CQRAEQZblPv//W2yUFsLoNSKekGb1SLPbAQAAAAAAAAAAAADfbodh9+kC9ViGXaYL1Hm6yWm6QGlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJnWdbrLBjXqd9pwuAAAAAMCvzstx1Ba3x9f09rjBJjbq0qQ0KU1Kk9KkNClNSpPSpDQpTUqT0qQ0KU1Kk9KkNClvQet9mnW5TRcAAAAAgP/d98PW6QJljy27fWlSmpQmpUlpUpqUJqVJaVKalCalSWlSmpQmpUlpUpqUJuWPs3LLAAAAAAAAAAAAAGAbPhzZL1DD5UvKAAAAAElFTkSuQmCC"></i>-->
<!--    </div>-->

<!--    <a class="navbar-brand" href="#"> <span style="font-weight: bold;font-family:'Shantell Sans', cursive;-->
<!-- ">Alloc@</span></a>-->
<!--    <button class="navbar-toggler" type="button" (click)="navBarOpen()" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{'show':navOpen}">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">About</a>-->
<!--        </li>-->

<!--        <li class="nav-item dropdown m-0 p-0"  >-->
<!--          <a  (click)="dropDownOpen()" href="#" role="button"    data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            <img style="width:2.5rem  ;border-radius: 50%" src="https://img.freepik.com/free-icon/avatar_318-158392.jpg">-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" [ngClass]="{show:dropDownStatus}">-->
<!--            <li><a class="dropdown-item" href="#">View Profile</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Edit Profile</a></li>-->
<!--          </ul>-->
<!--        </li>-->


<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
