
<div class="container-body">
  <div class="container">
    <div class="side">
      <img src="assets/img/login.png" > <br>
      <h4>New to Alloq-@ ?</h4>
      <p>Enter your personal details<br>and start journey with us!</p>
    </div>

    <mat-card>
      <mat-card-content>
        <div class="header">
          <h2><b>Welcome Back!</b></h2>
        </div>

        <form #InputForm="ngForm">


<!--Username field-->
          <div class="input">
            <mat-form-field  class="full-width"  appearance="outline">
              <mat-label>Username or Email</mat-label>
              <input matInput
                     name="name"
                     id="name"
                     [(ngModel)]="user.userName"
                     #name="ngModel"
                     required/>
              <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors?.['required']" class="alert">userName is required.</mat-error>
            </mat-form-field>&nbsp;
          </div>



<!--Password field-->
          <div class="input">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                name="pass"
                id="pass"
                matInput
                type="{{ hidePassword ?'password' : 'text' }}"
                [(ngModel)]="user.userPassword"
                #password="ngModel"
                required/>
              <mat-icon style="cursor: pointer" matSuffix (click)="togglePasswordVisibility()">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>

              <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.['required']" class="alert">Password is required.</mat-error>
<!--          <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.['pattern']" class="alert">must have one uppercase,one lowercase letter, and be between 8-16 characters long.</mat-error>-->
            </mat-form-field>
          </div>

          <br>


<!--ForgotPassword-->
          <div style="text-align: left; ">
            <a style="text-decoration: none;cursor: pointer; text-align: left;" (click)="openDialog()">Forgot password?</a>
          </div>

<!--Login Button-->
          <button mat-button class="login-button" (click)="login()">
            <p>Log In</p>
          </button>

        </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>



