*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.alert{
  color:red;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 0px;
}

.container{
  box-shadow: 10px 10px 20px #000;
  margin: auto;
  margin-top: 100px;
}

.side{
  background-color: #050858;
}

h4{
  color: #fff;
  margin-top: 20px;
}
p{
  color: #fff;
  text-align: center;
}

mat-card{
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: lightblue;
}

.header{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.full-width{
  width:400px;
}


h2{
  font-size: 32px;
  color: #050858;
  margin-bottom: 20px;
}

.login-button{
  margin-top: 80px;
  display: block;
  width: 400px;
  margin: 20px auto;
  border: none;
}
button{
  background-color:#050858 ;
  padding: 15px;
}

p{
  color: #fff;
}

/* Responsiveness */

@media (min-width: 1281px) {
  .side{
    background-color: #050858;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .side img{
    width: 225px;
    height: 203px;
  }
  .container{
    height: 100%;
    width: 900px;
    display: flex;
  }
  mat-card{
    width: 800px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .side{
    background-color: #050858;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .side img{
    width: 225px;
    height: 203px;
  }
  .container{
    width: 900px;
    display: flex;
  }
  mat-card{
    width:800px;
  }


}

@media (min-width: 821px) and (max-width: 1024px) {
  .side{
    background-color: #050858;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .side img{
    width: 155px;
    height: 150px;
  }
  .container{
    height: 100%;
    width: 700px;
    display: flex;
  }
}


@media (min-width: 669px) and (max-width: 820px) {
  .side{
    background-color: #050858;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .side img{
    width: 0;
    height: 0;
  }
  .side p{
    margin-bottom: 20px;
  }
  .container{
    height: 60%;
    width: 550px;
  }
  mat-card{
    height: 500px;;
  }
}

@media (min-width: 375px) and (max-width: 668px) {
  .side{
    background-color: #050858;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .side img{
    width: 0;
    height: 0;
  }
  .side p{
    margin-bottom: 20px;
  }
  .container{
    height: 100%;
    width: 450px;

  }
  mat-card{
    height: 500px;;
  }

}


@media (min-width: 320px) and (max-width: 480px) {
  .side{
    background-color: #050858;
  }
  .side img{
    width: 0;
    height: 0;
  }
  .side p{
    margin-bottom: 20px;
  }
  .container{
    height: 100%;
    width: 450px;

  }
  mat-card{
    height: 500px;;
  }
  .container{
    height: 100%;
    width: 400px;
  }
  .login-button{
    width: 350px;
  }
  .google-button{
    width: 350px;
  }
  .full-width{
    width: 350px;
  }


}





