<body>
<div class="container-body">
  <div class="container">
    <div class="side">
      <img src="assets/img/login.png" > <br>
      <h4>New to Alloq-@ ?</h4>
      <p>Enter your personal details<br>and start journey with us!</p>
    </div>

    <mat-card>
      <mat-card-content>
        <div class="header">
          <h2><b>Welcome Back!</b></h2>
        </div>

        <form #InputForm="ngForm">
<!--          {{user|json}}-->

          <div class="input">
            <mat-form-field  class="full-width"  appearance="outline">
              <mat-label>Username or Email</mat-label>
              <input matInput name="name" id="name" [(ngModel)]="user.userName" #name="ngModel" required/>
            </mat-form-field>&nbsp;
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
            <div *ngIf="name.errors?.['required']">
              Name is required.
            </div>
          </div>

          <div class="input">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input  name="pass" id="pass" matInput [type]=" 'hide' ? 'password' : 'test' " [(ngModel)]="user.password" #password="ngModel" required/>
            </mat-form-field>
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
          </div>
          <mat-checkbox color="primary">
            Remember me
          </mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <a style="text-decoration: none;cursor: pointer; ">Forgot password?</a>

          <button mat-button class="login-button" (click)="login()">
            <p>Log In</p>
          </button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>


</body>
