@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital@1&display=swap');



html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: azure;
}
