<div class="container" style="height: 450px;width:450px; margin: 5px">
  <mat-card style="height: 450px ">
    <mat-card-content>
      <div class="header">
        <h2><b>Change Password</b></h2>
        <br/>
      </div>
      <form #InputForm="ngForm">

        <div class="input">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Company Id</mat-label>
            <input
              #cpw="ngModel"
              [(ngModel)]="user.currentPassword"
              id="currentPassword"
              matInput
              name="currentPassword"
              required
            />
          </mat-form-field>
          <div *ngIf="(cpw.invalid && (cpw.dirty || cpw.touched)) || (user.currentPassword !==currentUserPassword)"
               class="alert0">
            <div *ngIf="cpw.errors?.['required']">Current password is required.</div>
            <div *ngIf="user.currentPassword !==currentUserPassword">Current password is incorrect</div>
          </div>
        </div>


        <div class="input">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Company Id</mat-label>
            <input
              #npw="ngModel"
              [(ngModel)]="user.newPassword"
              id="newPassword"
              matInput
              name="newPassword"
              required
            />
          </mat-form-field>
          <div *ngIf="npw.invalid && (npw.dirty || npw.touched)" class="alert0">
            <div *ngIf="npw.errors?.['required']">New password is required.</div>
          </div>
        </div>


        <div class="input">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Company Id</mat-label>
            <input
              #confpw="ngModel"
              [(ngModel)]="user.confirmPassword"
              id="confirmPassword"
              matInput
              name="confirmPassword"
              required
            />
          </mat-form-field>
          <div *ngIf="(confpw.invalid && (confpw.dirty || confpw.touched))||(user.newPassword !==user.confirmPassword)"
               class="alert0">
            <div *ngIf="confpw.errors?.['required']">Confirm password is required.</div>
            <div *ngIf="user.newPassword !==user.confirmPassword">new password and confirm password not matching</div>
          </div>

          <div class="d-flex justify-content-center mt-5">
            <button class="btn btn-primary" type="submit">Change</button>
          </div>
        </div>


      </form>
    </mat-card-content>
  </mat-card>
</div>

