<div class="container" style="height: 420px;width:450px; padding: 10px">
  <mat-card style="height: 400px ">
    <mat-card-content>
      <div class="header">
        <h2><b>Change Password</b></h2>
        <br/>
      </div>
<!--      <form #InputForm="ngForm" (ngSubmit)="submit(InputForm)">-->
        <form #InputForm="ngForm">


        <div class="input">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Current password</mat-label>
            <input
              #cpw="ngModel"
              [(ngModel)]="user.currentPassword"
              id="currentPassword"
              matInput
              name="currentPassword"
              type="password"
              required
            />
          </mat-form-field>

          <div *ngIf="cpw.touched && (user.currentPassword !== '' && !passwordMatch) || (user.currentPassword === '' && InputForm.submitted)" class="alert0">
            <div *ngIf="user.currentPassword === ''">Current password is required.</div>
            <div *ngIf="user.currentPassword !== '' && !passwordMatch">Current password is incorrect.</div>
          </div>

<!--          <div *ngIf="!passwordMatch || (user.currentPassword === '' && InputForm.submitted)" class="alert0">-->
<!--            <div *ngIf="user.currentPassword === ''">Current password is required.</div>-->
<!--            <div *ngIf="!passwordMatch ">Current password is incorrect.</div>-->
<!--          </div>-->


        </div>

        <div class="input">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New password</mat-label>
            <input
              #npw="ngModel"
              [(ngModel)]="user.newPassword"
              id="newPassword"
              matInput
              name="newPassword"
              type="password"
              required
            />
          </mat-form-field>
          <div *ngIf="npw.invalid && (npw.dirty || npw.touched || InputForm.submitted)" class="alert0">
            <div *ngIf="npw.errors?.['required']">New password is required.</div>
          </div>
        </div>


        <div class="input">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm password</mat-label>
            <input
              #confpw="ngModel"
              [(ngModel)]="user.confirmPassword"
              id="confirmPassword"
              matInput
              name="confirmPassword"
              type="password"
              required
            />
          </mat-form-field>
          <div
            *ngIf="(confpw.invalid && (confpw.dirty || confpw.touched|| InputForm.submitted))||(user.newPassword !==user.confirmPassword)"
            class="alert0">
            <div *ngIf="confpw.errors?.['required']">Confirm password is required.</div>
            <div *ngIf="user.newPassword !==user.confirmPassword">new password and confirm password not matching</div>
          </div>

          <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary" type="submit" (click)="submit(InputForm)">Change</button>
          </div>
        </div>


      </form>
    </mat-card-content>
  </mat-card>
</div>

