<section class="p-2 main-con">
  <h3 class="text-center mb-3 mt-1  text-capitalize" style="color:white">Change Password</h3>
  <div class="p-4" style="background-color: #BAD7E9;">
    <form #InputForm="ngForm">
      <!--      {{resource|json}}-->
      <!--      "activeStatus": true,-->
          <div>
            <label class="mb-2" for="current-password">Current Password</label>
            <input class="form-control mb-3" id="current-password" name="current-password" type="password" >
          </div>

          <div>
            <label class="mb-2" for="new-password">New Password</label>
            <input class="form-control mb-3" id="new-password" name="new-password" type="password" >
          </div>

          <div>
            <label class="mb-2" for="confirm-new-password">Confirm New Password</label>
            <input class="form-control mb-3" id="confirm-new-password" name="current-password" type="password" >
          </div>

    </form>
  </div>
</section>

