@media (max-width: 668px) {
  .main-con{
    width: 300px !important;
  }
}
.main-con{
  background: #154c79;
  width: 500px;
}


.alert{
  color:red;
  margin-bottom: 10px;
  margin-right:160px;
  font-size:12px;
}

