<h2>Accept Or Reject Booking Requests</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Request ID</th>
    <th scope="col">Resource ID</th>
    <th scope="col">Requester User ID</th>
    <th scope="col">Resource Manager ID</th>
    <th scope="col">Company ID</th>
    <th scope="col">Required Date</th>
    <th scope="col">Start Time</th>
    <th scope="col">End Time</th>
    <th scope="col">Action</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bookingRequest of bookingRequestList">

    <td> {{bookingRequest["id"]}}</td>
    <td> {{bookingRequest["resourceId"]}}</td>
    <td>{{bookingRequest["requesterUserId"]}}</td>
    <td>{{bookingRequest["requestersManagersUserId"]}}</td>
    <td>{{bookingRequest["companyId"]}}</td>
    <td>{{bookingRequest["requiredDate"]}}</td>
    <td>{{bookingRequest["startTime"]}}</td>
    <td>{{bookingRequest["endTime"]}}</td>
    <td>
      <div class="form-group">
        <label for="myDropdown">Select an option:</label>
        <select id="myDropdown" [(ngModel)]="bookingRequest.selectedOption" (ngModelChange)="onConditionSelectionChange($event)" name="selectedOption" class="form-control">
          <option *ngFor="let option of conditions" [value]="option.condition_name" [selected]="option.condition_name === bookingRequest.selectedOption">
            {{ option.condition_name }}
            <span *ngIf="option.isSpecial && option.condition_name === bookingRequest.selectedOption">(Special Condition)</span>
          </option>
        </select>
      </div>
    </td>

    <td>
      <button (click)="accept(bookingRequest.id,bookingRequest.requesterUserId,bookingRequest.requestersManagersUserId,bookingRequest.requiredDate,bookingRequest.startTime,bookingRequest.endTime,bookingRequest.resourceId)" class="btn btn-primary" type="button">Accept</button>
      <button (click)="reject(bookingRequest.id,bookingRequest.requesterUserId,bookingRequest.requestersManagersUserId,bookingRequest.requiredDate,bookingRequest.startTime,bookingRequest.endTime,bookingRequest.resourceId)" class="btn btn-dark" type="button">Reject</button>
    </td>


  </tr>
  </tbody>
</table>
