
{{resourceList|json}}



<div class="container">

  <div class="row g-3">
    <div class="col-lg-3 col-6 ">

      <div class="card h-100">
        <img  alt="" src="assets/img/1.jpeg">
        <div class="card-body">
          <h5 class="card-title">316545HU</h5>
          <p class="card-text">
            Type: <br>
            Company: <br>
            Capacity: <br>
          </p>
        </div>
      </div>
    </div>

<!--    <div class="col-lg-3 col-6 g-3">-->

<!--      <div class="card h-100">-->
<!--        <img alt="" src="assets/img/2.jpeg">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">316545HU</h5>-->
<!--          <p class="card-text">-->
<!--            Type: <br>-->
<!--            Company: <br>-->
<!--            Capacity: <br>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="col-lg-3 col-6">-->

<!--      <div class="card h-100">-->
<!--        <img alt="" src="assets/img/3.jpeg">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">316545HU</h5>-->
<!--          <p class="card-text">-->
<!--            Type: <br>-->
<!--            Company: <br>-->
<!--            Capacity: <br>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="col-lg-3 col-6">-->

<!--      <div class="card h-100">-->
<!--        <img alt="" src="assets/img/3.jpeg">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">316545HU</h5>-->
<!--          <p class="card-text">-->
<!--            Type: <br>-->
<!--            Company: <br>-->
<!--            Capacity: <br>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-3 col-6 ">-->

<!--      <div class="card h-100">-->
<!--        <img  alt="" src="assets/img/1.jpeg">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">316545HU</h5>-->
<!--          <p class="card-text">-->
<!--            Type: <br>-->
<!--            Company: <br>-->
<!--            Capacity: <br>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>  <div class="col-lg-3 col-6 ">-->

<!--    <div class="card h-100">-->
<!--      <img  alt="" src="assets/img/1.jpeg">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">316545HU</h5>-->
<!--        <p class="card-text">-->
<!--          Type: <br>-->
<!--          Company: <br>-->
<!--          Capacity: <br>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>  <div class="col-lg-3 col-6 ">-->

<!--    <div class="card h-100">-->
<!--      <img  alt="" src="assets/img/1.jpeg">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">316545HU</h5>-->
<!--        <p class="card-text">-->
<!--          Type: <br>-->
<!--          Company: <br>-->
<!--          Capacity: <br>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>  <div class="col-lg-3 col-6 ">-->

<!--    <div class="card h-100">-->
<!--      <img  alt="" src="assets/img/1.jpeg">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">316545HU</h5>-->
<!--        <p class="card-text">-->
<!--          Type: <br>-->
<!--          Company: <br>-->
<!--          Capacity: <br>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--    <div class="col-lg-3 col-6 ">-->

<!--      <div class="card h-100">-->
<!--        <img  alt="" src="assets/img/1.jpeg">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">316545HU</h5>-->
<!--          <p class="card-text">-->
<!--            Type: <br>-->
<!--            Company: <br>-->
<!--            Capacity: <br>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


  </div>


</div>






