<div class="container">
<!--{{resourceList|json}}-->
  <div class="row g-3 mt-2">
    <div class="col-lg-3 col-6 " *ngFor="let resource of resourceList">
      <div class="card h-100" >
        <img width="100%"  height="240px" alt="img of a resource" src="{{resource['imgUrl']}}">
        <div class="card-body">
          <h5 class="card-title">Resource ID: {{resource.id}} </h5>
          <p class="card-text">

            Type:{{resource["resourceType"]}}  <br>
            Company:{{resource["company"]}} <br>
            Capacity: {{resource["maximumCapacity"]}}<br>
          </p>
          <button class="btn btn-primary" (click)="displayResourceDetails(resource.id)">More</button>
        </div>
      </div>
    </div>


  </div>

  <button class="btn btn-primary me-3 mb-3 back-btn" (click)="goBack()">Back</button>
</div>






