<div class="container">
  <!--{{resourceList|json}}-->
  <div class="row g-3 mt-2 mb-2 bg-warning ">
    <div class="d-inline-block col-3">
      <label for="company-select">Select Company:</label>
      <select #company="ngModel" (ngModelChange)="onCompanySelectionChange($event)"
              [(ngModel)]="companyId" id="company-select"
              name="company" >
        <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
      </select>
    </div>
    <div class="col-3">  <button class="btn btn-primary mb-2" (click)="search()">Search</button></div>

  </div>

  <div class="row g-3 mt-2">
    <div *ngFor="let resource of resourceList | paginate:
    {
      itemsPerPage:8,
      currentPage:page,
      totalItems:allResources
    }"
         class="col-lg-3 col-6 ">
      <div class="card h-100">
        <img alt="img of a resource" height="240px" src="{{resource['imgUrl']}}" width="100%">
        <div class="card-body">
          <h5 class="card-title">Resource ID: {{resource.id}} </h5>
          <p class="card-text">

            Type:{{resource["resourceType"]}}  <br>
            Company:{{resource["company"]}} <br>
            Capacity: {{resource["maximumCapacity"]}}<br>
          </p>
          <button (click)="displayResourceDetails(resource.id)" class="btn btn-primary">More</button>
        </div>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-center">
<pagination-controls (pageChange)="renderPage($event)" class="mt-5"></pagination-controls>
  </div>

  <button (click)="goBack()" class="btn btn-primary me-3 mb-3 back-btn">Back</button>
</div>






