<div class="container" >
<div class="row" style="margin-top: 100px; margin-bottom: 290px">


  <div class="col-md-4 border-right" *ngIf="userType=='1'" (click)="openAddCompanyForm()">
    <div class="cards">
      <div class="first p-4 text-center" style="background-color:#043e7d">
        <img src="assets/img/companyadd.png" height="200px" ><br>
        <p>Add Company</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 border-right" *ngIf="userType=='1'" (click)="openAddUserForm()">
    <div class="cards">
      <div class=" second  p-4 text-center" style="background-color:#2a6f97">
        <img src="assets/img/useradd.png" height="200px"/>
        <p>Add User</p>
      </div>
    </div>
  </div>

  <div class="col-md-4" *ngIf="userType!='3'" (click)="openAddResourceForm()">
    <div class="cards">
      <div class=" third p-4 text-center" style="background-color:#043e7d">
        <img src="assets/img/resourceadd.png" height="200px"><br>
        <p>Add Resource</p>
      </div>
    </div>
  </div>

</div>
</div>



