

<div class="main-container" >
  <div class="row">
    <div class="col-lg-1  col-12 d-flex justify-content-center">

    </div>
    <div class="col-lg-4  col-12 d-flex justify-content-center">
      <div class="menu-btn mt-2 mb-2 d-flex justify-content-center align-items-center" (click)="openAddCompanyForm()">
        <p>Add Company</p>
      </div>
    </div>
    <div class="col-lg-1  col-12 d-flex justify-content-center">

    </div>

    <div class="col-lg-4 col-12 d-flex justify-content-center">


      <div class="menu-btn mt-2 mb-2 d-flex justify-content-center align-items-center" (click)="openAddResourceForm()">
        <p>Add Resource</p>
      </div>
    </div>

    <div class="col-lg-1  col-12 d-flex justify-content-center">

    </div>
  </div>


  <div class="row pt-3">
    <div class="col-lg-1  col-12 d-flex justify-content-center">

    </div>
    <div class="col-lg-4 col-12 d-flex justify-content-center">
      <div class="menu-btn mt-2 mb-2 d-flex justify-content-center align-items-center" (click)="openAddUserForm()">
        <p>Add User</p>
      </div>
    </div>

    <div class="col-lg-1  col-12 d-flex justify-content-center">

    </div>

    <div class="col-lg-4 col-12 d-flex justify-content-center">
      <div class="menu-btn mt-2 mb-2 d-flex justify-content-center align-items-center" (click)="openAddRoleForm()">
        <p>Add Role</p>
      </div>
    </div>
  </div>
</div>
