<section class="mt-3">
  <div class="container">
    <div class="row" style="margin-top: 50px; margin-bottom: 50px">
      <div class="col-md-3 card" *ngIf="userType=='1'" (click)="openAddCompanyForm()">
        <div class="card shadow-lg ">
          <img src="assets/img/company.jpg" alt="" class="img-fluid">
          <div class="card d-flex align-items-center ">
            <div class="card-body text-center ">
            <p class="h3">Add Company</p>
            </div>

          </div>

        </div>
      </div>

      <div class="col-md-3 card" *ngIf="userType!='3'" (click)="openAddResourceForm()">
        <div class="card shadow-lg">
          <img src="assets/img/resource.jpg" alt="" class="img-fluid">
          <div class="card d-flex align-items-center">
            <div class="card-body text-center">
            <p class="h3">Add Resource</p>
            </div>

          </div>

        </div>
      </div>

      <div class="col-md-3 card"*ngIf="userType=='1'" (click)="openAddUserForm()">
        <div class="card shadow-lg">
          <img src="assets/img/role.jpg" alt="" class="img-fluid">
          <div class="card d-flex align-items-center">
            <div class="card-body text-center">
            <p class="h3">Add User</p>
            </div>

          </div>

        </div>
      </div>

<!--      <div class="col-md-3 card" (click)="openAddRoleForm()">-->
<!--        <div class="card shadow-lg">-->
<!--          <img src="assets/img/user.jpg" alt="" class="img-fluid">-->
<!--          <div class="card d-flex align-items-center">-->
<!--            <div class="card-body text-center">-->
<!--            <p class="h3">Add Role</p>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</section>
