.content{
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgrey;
  border-radius: 10px;
}
mat-sidenav-container{
  height: calc(100vh - 65px);
}
mat-icon {
  margin-right: 8px ;
  margin-top: 2px;
  cursor: pointer;
}
h2{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.justifier{
  width:400px;
}
.content2{
  width: 90%;
  border-radius: 15px;
}
.add{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.button{
  width: 120px;
  height:40px;
  background-color: #003D64;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  //margin-top: 55px;

}
.button p{
  color:#fff;
  font-size: 18px;
  padding-top: 5px ;
  //padding-bottom: 10px;
}
.alert{
  color:red;
  width:600px;
  height:13px;
  font-size: 12px;
  padding:0px;
  //margin-bottom: 10px;
  text-align: left;
}


// Responsiveness

@media (min-width: 1281px) {
  .form-body{
    width: 96.5%;
    height:800px;
  }
  .content{
    height: 1000px;
  }
  .content2{
    height: 850px;
  }
  .justifier{
    width: 49%;
  }
  .add{
    width: 98.5%;
  }
  .tbl{
    width: 99.5%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .form-body{
    width: 95%;
    height:800px;
  }
  .content{
    height: 1000px;
  }
  .content2{
    height: 850px;
  }
  .justifier{
    width: 49%;
  }
  .add{
    width: 98.5%;
  }
  .tbl{
    width: 99.5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-body{
    width: 96%;
    height:800px;

  }
  .content{
    height: 1500px;
  }
  .content2{
    height: 1360px;
  }
  .justifier{
    width: 95%;
  }
  .add{
    width: 97.5%;
  }
  .tbl{
    width: 95%;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
  .form-body{
    width: 95%;
    height:800px;

  }
  .content{
    height: 1500px;
  }
  .content2{
    height: 1360px;
  }
  .justifier{
    width: 95%;
  }
  .add{
    width: 96.5%;
  }
  .tbl{
    width:95%;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .form-body{
    width: 92%;
    height:800px;

  }
  .content{
    height: 1500px;
  }
  .content2{
    height: 1360px;
  }
  .justifier{
    width: 95%;
  }
  .add{
    width: 95.5%;
  }
  .tbl{
    width:94%;
  }
  .button{
    height: 40px;
  }
  .button p{
    padding-bottom: 0px;
  }
  .image{
    height:0;
    width: 0;
  }
}
