


<div class="content  mat-elevation-z4" style="background-color: #050858;" >
<!--   {{company| json}}-->
  <h2 style="color:#fff;font-size: 32px;">Add Company</h2>
  <div class="content2 mat-elevation-z4" style="background-color: #C3E5F9;  " >
    <div class="form-body" style="margin-top: 20px; margin-left: 25px;">
      <div class="row">
        <div class="column">
          <form #InputForm="ngForm">
            <div style="font-size: 16px">

              <!--CompanyName-->
              <mat-form-field class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Company Name</mat-label>
                <input matInput
                       name="name"
                       id="name"
                       [(ngModel)]="company.name"
                       #name="ngModel"
                       class="field"
                       required/>
                <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors?.['required']" class="alert">Company Name is required.</mat-error>
              </mat-form-field>&nbsp;

              <!--CID-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Company ID</mat-label>
                <input
                  matInput
                  name="id"
                  id="id"
                  [(ngModel)]="company.id"
                  #id="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="id.invalid && (id.dirty || id.touched) && id.errors?.['required']" class="alert">CompanyID is required.</mat-error>
              </mat-form-field>



              <!--EMAIL-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input
                  type="email"
                  matInput
                  name="email"
                  id="email"
                  [(ngModel)]="company.email"
                  #email="ngModel"
                  [pattern]="emailPtn"
                  class="field"
                  formController="email"
                  required/>
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['required']" class="alert">Email is required.</mat-error>
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['pattern']" class="alert">Enter valid email.</mat-error>
              </mat-form-field>

              &nbsp;

              <!--CONTACT NUMBER-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input
                  matInput
                  name="contactNo"
                  id="contactNo"
                  [(ngModel)]="company.contactNumber"
                  #contactNumber="ngModel"
                  [pattern]="mobNumberPattern"
                  class="field"
                  required/>
                <mat-error *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched) && contactNumber.errors?.['required']" class="alert">Contact Number is required.</mat-error>
                <mat-error *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched) && contactNumber.errors?.['pattern']" class="alert">Contact number must have 10 digits</mat-error>
              </mat-form-field>

              <!--Mobile No-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input
                  matInput
                  name="mobileNo"
                  id="mobileNo"
                  [(ngModel)]="company.mobile"
                  #mobile="ngModel"
                  [pattern]="mobNumberPattern"
                  class="field"

                  required/>
                <mat-error *ngIf="mobile.invalid && (mobile.dirty || mobile.touched) && mobile.errors?.['required']" class="alert">Mobile Number is required.</mat-error>
                <mat-error *ngIf="mobile.invalid && (mobile.dirty || mobile.touched) && mobile.errors?.['pattern']" class="alert">Mobile number must have 10 digits</mat-error>
              </mat-form-field>&nbsp;



              <!--FAX-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Fax</mat-label>
                <input
                  matInput
                  name="fax"
                  id="fax"
                  [(ngModel)]="company.fax"
                  #fax="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="fax.invalid && (fax.dirty || fax.touched) && fax.errors?.['required']" class="alert">Fax is required.</mat-error>
              </mat-form-field>&nbsp;



              <!--Description-->
              <mat-form-field  class="add" floatlabel="auto" appearance="outline">
                <mat-label>Description</mat-label>
                <input
                  matInput
                  name="description"
                  id="description"
                  [(ngModel)]="company.description"
                  #description="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.errors?.['required']" class="alert">Description is required.</mat-error>
              </mat-form-field>

              <!--IMAGE-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Image URL</mat-label>
                <input
                  matInput
                  name="imageURL"
                  id="imageURL"
                  [(ngModel)]="company.imgUrl"
                  #imgUrl="ngModel"
                  class="field"
                  required/>
                <mat-error *ngIf="imgUrl.invalid && (imgUrl.dirty || imgUrl.touched) && imgUrl.errors?.['required']" class="alert">ImageURL is required.</mat-error>
              </mat-form-field>&nbsp;

              <!--Address-->
              <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput
                       name="address"
                       id="address"
                       [(ngModel)]="company.address"
                       #address="ngModel"
                       class="field"
                       required/>
                <mat-error *ngIf="address.invalid && (address.dirty || address.touched) && address.errors?.['required']" class="alert">Address is required.</mat-error>
              </mat-form-field>&nbsp;

              <!--ACTIVE STATUS-->
              <mat-checkbox
                name="activeStatus"
                id="activeStatus"
                [(ngModel)]="company.activeStatus"
                #activeStatus="ngModel"
                color="primary"
                style="font-size: 14px;">
                Active Status
              </mat-checkbox>


            </div>

            <!--BUTTONS AND IMAGE-->
            <table border="0" class="tbl">
              <tr>
                <td style="text-align: center;">
                  <button mat-button (click)="addCompany()" class="button" >
                    <p>Submit </p>
                  </button>
                  <button mat-button class="button" (click)="goBack()">
                    <p>Back </p>
                  </button>
                </td>

              </tr>
            </table>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>


