
.user-title{
  margin: 0;
  padding: 0;
}

.img1 {
  width: 360px;
  height: 340px;

  border:black solid 2px;
  background-color: #003D64;
}

.email-img {
  width: 1cm;
  height: 1cm;
}

.contactnumber-img {
  position: relative;
  left: -5px;
  width: 1cm;
  height: 1cm;
}


.address-img {
  position: relative;
  left: 1px;
  top: 5px;
  width: 40px;
  height: 40px;
}


.left-side {
  position: relative;
  left: 100px;
}

.right-side {
  position: relative;
  left: 100px;

}

//.container {
//  overflow: hidden;
//}

.btn {
  height: 40px;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.btn-style{
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;
  background-color:rgb(42,111,151);
}

.btn:hover {
    background-color: rgb(37, 100, 133);
  }

@media (min-width: 992px) {

  .container{
    height: 100vh;
  }
}

.round-icon {
  border-radius: 50%;
  background-color: #ccc;
  padding: 6px;
  border: 2px solid black;
}
.email-icon{
  width: 40px;
  height: 40px;
}
.contact-number-icon{
  width: 40px;
  height: 40px;
}
.address-icon{
  width: 40px;
  height: 40px;
}
