<!-- <section class="mt-3">
  <div class="container">
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-4 card1">
        <div class="card shadow-lg ">

          <div class="card d-flex align-items-center ">
            <div class="card-body text-center ">
            <p class="h3"></p>
            </div>

          </div>

        </div>
      </div>

      <div class="col-md-4 card2 ">
        <div class="card shadow-lg">

          <div class="card d-flex align-items-center">
            <div class="card-body text-center">
            <p class="h3"></p>
            </div>

          </div>

        </div>
      </div>

      <div class="col-md-4 card3">
        <div class="card shadow-lg">

          <div class="card d-flex align-items-center">
            <div class="card-body text-center">
            <p class="h3"></p>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>
</section> -->

<h3>Welcome Ravidu</h3>

<div class="row mt-3">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body1">
        <h5 class="card-title">Total Bookings</h5>
        <p class="card-text"><h1>50</h1>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>



  <div class="col-sm-3">
    <div class="card">
      <div class="card-body2">
        <h5 class="card-title">Average Meeting Cost</h5>
        <p class="card-text"><h1>30$</h1>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>


  <div class="col-sm-3">
    <div class="card">
      <div class="card-body3">
        <h5 class="card-title">Number of Subordinates</h5>
        <p class="card-text"><h1>20</h1>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>




  <div class="col-sm-3">
    <div class="card">
      <div class="card-body4">
        <h5 class="card-title">Number of Subordinates</h5>
        <p class="card-text"><h1>20</h1>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">


<div style="width:600px;height:500px;">
  <div class="tablestyle">
    <canvas id="myChart"></canvas>
  </div>

</div>
</div>


