
<div class="side-nav-content  ">
  <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
    <li class="nav-list-item" [routerLink]="['main']">
      <div  class="icon me-1 "><fa-icon [icon]="icon2" class=" ms-3 "></fa-icon></div>
      <span>Dashboard</span>
    </li>

    <li class="nav-list-item" [routerLink]="['add']" >
       <div class="icon  me-1 ">
         <fa-icon [icon]="icon3" class="ms-3"></fa-icon>
       </div>

      <span>Add</span>
    </li>

    <li class="nav-list-item"    [routerLink]="['view']">
      <div class="icon  me-1 ">
        <fa-icon [icon]="icon4" class="ms-3"></fa-icon>
      </div>

      <span>
       View
        </span>
    </li>
    <li class="nav-list-item"    [routerLink]="['reports']" >
    <div class="icon  ms-1">
      <fa-icon [icon]="icon5" class=" ms-3"></fa-icon>
    </div>

      <span>
     Generate Report
        </span>
    </li>

    <li class="nav-list-item"    [routerLink]="['review-rating']" >
    <div class="icon  me-1 ">
      <fa-icon [icon]="icon6" class="ms-3"></fa-icon>
    </div>

      <span>
          Review-Rating
        </span>
    </li>

  </ul>

</div>
