<!--<section class="mt-3">-->
<!--  <div class="container" >-->
<!--    <div class="row" style="margin-top: 150px; margin-bottom: 150px">-->
<!--      <div class="col-md-4 card" (click)="openRequestListView()">-->
<!--        <div class="card shadow-lg ">-->
<!--          <img src="assets/img/man.png" alt="" class="img-fluid">-->
<!--          <div class="card d-flex align-items-center ">-->
<!--            <div class="card-body text-center ">-->
<!--            <p class="h3">View Request</p>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-4 card "(click)="openCompanyView()">-->
<!--        <div class="card shadow-lg">-->
<!--          <img src="assets/img/viewc.jpg" alt="" class="img-fluid">-->
<!--          <div class="card d-flex align-items-center">-->
<!--            <div class="card-body text-center">-->
<!--            <p class="h3">View Company</p>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-md-4 card"(click)="openResourceView()">-->
<!--        <div class="card shadow-lg" >-->
<!--          <img src="assets/img/viewr.jpg" alt="" class="img-fluid">-->
<!--          <div class="card d-flex align-items-center">-->
<!--            <div class="card-body text-center">-->
<!--            <p class="h3">View Resource</p>-->
<!--            </div>-->


<!--        </div>-->
<!--      </div>-->


<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<div class="row" style="margin-top: 100px; margin-bottom: 160px">

  <div class="col-md-4 border-right" (click)="openRequestListView()">
    <div class="cards">
      <div class="first p-4 text-center" style="background-color:#043e7d">
        <img src="assets/img/list.png" height="200px" ><br>
        <p>View Request</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 border-right" (click)="openCompanyView()">
    <div class="cards">
      <div class=" second  p-4 text-center" style="background-color:#2a6f97">
        <img src="assets/img/companyv.png" height="200px"/>
        <p>View Company</p>
      </div>
    </div>
  </div>

  <div class="col-md-4" (click)="openResourceView()">
    <div class="cards">
      <div class=" third p-4 text-center" style="background-color:#043e7d">
        <img src="assets/img/view.png" height="200px"><br>
        <p>View Resource</p>
      </div>
    </div>
  </div>

</div>
