<div class="container">
<!--{{companyList|json}}-->
  <div class="row mt-2 g-3">
    <div class="col-lg-3 col-6 " *ngFor="let company of companyList" >
      <div class="card h-100" >
        <img  width="300px"  alt="" src="{{company.imgUrl}}">
        <div class="card-body">
          <h5 class="card-title">{{company.name}}  </h5>
          <p class="card-text">

            CompanyId: {{company.id}}<br>
            ContantNo: {{company.contactNumber}}<br>

          </p>
          <button class="btn btn-primary" (click)="displayCompanyDetails(company.id)" >More</button>
        </div>
      </div>
<!--      {{companyList|json}}-->
    </div>


  </div>

  <button class="btn btn-primary me-3 mb-3 back-btn" (click)="goBack()">Back</button>
</div>









