
.table,th,td{
  border-collapse: collapse;
  border: 0.5px solid gray ;

}
th{
  background-color:#4b49ac;
  height:45px;
  color: white;
  font-weight:400;
  text-align: center;
  border-right:none;
  border-left:none;

}
td{
  border-right:none;
  border-left:none;
  text-align: center;

}
button{
  margin-right: 10px;
  height:35px;
}
h2{
  text-align: center;
  margin-top: 10px;
}

//tr:hover {
//  background-color: rgb(230, 235, 238);}


.form-select{

  width:20%;
  margin-top:30px;
  margin-left:1022px;
  //background-color:darkgrey;
}

body{
  background-color: #f5f7ff;
  //height: 650px;
  margin-top:15px;
  margin-left:40px;
  margin-right:40px;
  padding-top:2px;
}
select{
  //background:lightgrey;
  border-radius: 3px;
  font-weight:400;

}

@media (min-width: 1281px) {
  .table{
    width:90%;
    margin: auto;

  }


}

@media (min-width: 1025px) and (max-width: 1280px) {

  .table{
    width:90%;
    margin: auto;

  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  .table{
    width:60%;
    margin: auto;

  }

}
@media (max-width: 992px) {
  .main-con {
    padding: 1.5rem .5rem !important;
  }
}

.back-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 123, 255, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: rgba(0, 123, 255, 0.8);
}





