<!--{{selectedResource|json}}-->
<div class="container mt-5 bg-light"  *ngIf="selectedResource">
  <div class="row">
    <div class="col-12">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" style="background-color:rgba(87,85,85,0.27)">
      <img src="{{ selectedResource.imgUrl }}" alt="resource_img" class="img-fluid mt-5">
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="col-12 mb-3 mt-3">
          <h4>Resource Details</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-3 mb-0">
          <p>Resource ID     </p>
          <p>Company Name    </p>
          <p>Resource Type   </p>
          <p>RateCard ID     </p>
          <p>Active Status   </p>
<!--          <p>Is Available    </p>-->
          <p>Capacity</p>
          <p>  <u>Description</u>   </p>
<!--          todo-->
<!--          <p>Review & Rating :</p>-->
        </div>

        <div class="col-8">
          <p>:  {{selectedResource.id}} </p>
          <p>:  {{ selectedResource.company}}</p>
          <p>:  {{ selectedResource.resourceType }}</p>
          <p>:  {{ selectedResource.rateCardId }}</p>
          <p>:  {{ selectedResource.activeStatus }}</p>
<!--          <p>:  {{ selectedResource.availability }}</p>-->
          <p>:  {{ selectedResource.maximumCapacity }}</p>
        </div>

        <div class="col-12 mt-0">
          <p>{{ selectedResource.description }}</p>
        </div>
      </div>
      <button class="btn btn-primary me-3 mb-3 book-btn" (click)="addRequest()">Book</button>
      <button class="btn btn-primary me-3 mb-3 update-btn" (click)="updateResource()">Update</button>
      <button class="btn btn-primary me-3 mb-3 back-btn">Back</button>
    </div>
  </div>





</div>




