<div class="container" style="height: 650px; margin-bottom: 30px">
<!--       {{bookingRequest|json}}-->
  <div class="side">
    <img src="assets/img/booking_img.png" style="width: 350px; height: 300px" />
    <br />
  </div>
  <mat-card style="height: 650px">
    <mat-card-content>
      <div class="header">
        <h2><b>Let's Place Your Booking Here</b></h2>
        <br />
      </div>

      <form #InputForm="ngForm">
        <span style="color: #212529" class="ms-0">
          <!--Resource ID: {{ bookingRequest.resourceId }}-->
        </span>
        <div class="input">
          <mat-form-field class="full-width">
            <mat-label>User Id</mat-label>
            <input
              matInput
              name="userid"
              id="userid"
              [(ngModel)]="bookingRequest.requesterUserId"
              #uid="ngModel"
              required
            />
          </mat-form-field>
          <div *ngIf="uid.invalid && (uid.dirty || uid.touched)" class="alert">
            <div *ngIf="uid.errors?.['required']">User ID is required.</div>
          </div>
        </div>

        <div class="input">
          <mat-form-field class="full-width" >
            <mat-label>Company Id</mat-label>
            <input
              matInput
              name="comId"
              id="comId"
              [(ngModel)]="bookingRequest.companyId"
              #comId="ngModel"
              required
            />
          </mat-form-field>
          <div *ngIf="comId.invalid && (comId.dirty || comId.touched)" class="alert">
            <div *ngIf="comId.errors?.['required']">
              Company ID is required.
            </div>
          </div>
        </div>

        <div class="input">
          <mat-form-field class="full-width" >
            <mat-label>Resource Manager's Id</mat-label>
            <input
              matInput
              name="ManagerUserid"
              id="ManagerUserid"
              [(ngModel)]="bookingRequest.requestersManagersUserId"
              #Muid="ngModel"
              required
            />
          </mat-form-field>
          <div *ngIf="Muid.invalid && (Muid.dirty || Muid.touched)" class="alert">
            <div *ngIf="Muid.errors?.['required']">
              Resource Manager's ID is required.
            </div>
          </div>
        </div>

        <!--date picker-->
        <div class="input">
          <mat-form-field class="full-width" >
            <mat-label>Choose a date</mat-label>

            <input
              matInput
              [matDatepicker]="picker"
              name="requiredDate"
              id="requiredDate"
              [(ngModel)]="bookingRequest.requiredDate"
              (dateChange)="updateDate()"
              [min]="minDate"
              #requiredDate="ngModel"
              required
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="requiredDate.invalid && (requiredDate.dirty || requiredDate.touched)" class="alert">
            <div *ngIf="requiredDate.errors?.['required']">
              Date is required.
            </div>
          </div>
        </div>

        <div class="input mt-1">
          <mat-form-field class="full-width" >
            <mat-label>Start time</mat-label>
            <input
              matInput
              name="startTime"
              id="startTime"
              [format]="24"
              [(ngModel)]="bookingRequest.startTime"
              [ngxMatTimepicker]="pickerA"
              [max]="max"
              [min]="min"
              #startTime="ngModel"
              readonly
              required
            />
            <mat-icon matSuffix (click)="pickerA.open()">
              watch_later
            </mat-icon>
          </mat-form-field>
          <div *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)" class="alert">
            <div *ngIf="startTime.errors?.['required']">
              Start time is required.
            </div>
          </div>
          <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
        </div>

        <div class="input mt-1">
          <mat-form-field class="full-width">
            <mat-label>End time</mat-label>
            <input
              matInput
              name="endTime"
              [format]="24"
              [(ngModel)]="bookingRequest.endTime"
              [ngxMatTimepicker]="pickerB"
              [max]="max"
              [min]="min"
              #endTime="ngModel"
              readonly
              required
            />
            <mat-icon matSuffix (click)="pickerB.open()">
              watch_later
            </mat-icon>
          </mat-form-field>
          <div *ngIf="endTime.invalid && (endTime.dirty || endTime.touched)" class="alert">
            <div *ngIf="endTime.errors?.['required']">
              End time is required.
            </div>
          </div>
          <ngx-mat-timepicker #pickerB></ngx-mat-timepicker>
        </div>

        <div>
          <button class="btn btn-primary" (click)="addBookingRequest()">
            Submit
          </button>

          <button
            class="btn btn-secondary"
            [routerLink]="['/resourceId']"
            (click)="goBack()"
          >
            Cancel
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
