<!--<div class="container-body" style="background-color: #ffd305">-->
<div class="container">
  <!--   {{bookingRequest|json}}-->

  <div class="side"><img src="assets/img/workingLady.png" /> <br /></div>
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h2><b>Booking Request Form</b></h2>
        <br />
      </div>

      <form #InputForm="ngForm">
        <span style="color: #212529" class="ms-0"
        >Resource ID: {{ bookingRequest.resourceId }}</span
        >

        <div class="input">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Id</mat-label>
            <input
              matInput
              name="userid"
              id="userid"
              [(ngModel)]="bookingRequest.requesterUserId"
              #uid="ngModel"
              required
            />

          </mat-form-field>
          <div
            *ngIf="uid.invalid && (uid.dirty || uid.touched)"
            class="alert"
          >
            <div *ngIf="uid.errors?.['required']">
              User ID is required.
            </div>
          </div>
        </div>

        <div class="input">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Company Id</mat-label>
            <input
              matInput
              name="comId"
              id="comId"
              [(ngModel)]="bookingRequest.companyId"
              #comId="ngModel"
              required
            />


          </mat-form-field>
          <div
            *ngIf="comId.invalid && (comId.dirty || comId.touched)"
            class="alert"
          >
            <div *ngIf="comId.errors?.['required']">
              Company ID is required.
            </div>
          </div>
        </div>

        <div class="input">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Resource Manager's Id</mat-label>
            <input
              matInput
              name="ManagerUserid"
              id="ManagerUserid"
              [(ngModel)]="bookingRequest.requestersManagersUserId"
              #Muid="ngModel"
              required
            />
          </mat-form-field>
          <div
            *ngIf="Muid.invalid && (Muid.dirty || Muid.touched)"
            class="alert"
          >
            <div *ngIf="Muid.errors?.['required']">
              Resource Manager's ID is required.
            </div>
          </div>
        </div>



        <div class="input">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>

            <input
              matInput
              [matDatepicker]="picker"
              name="date"
              [(ngModel)]="bookingRequest.requiredDate"
              (dateChange)="updateDate()"
              [min]="minDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

          </mat-form-field>
        </div>

        <div class="input mt-1">
          <mat-form-field>
            <mat-label>Start time</mat-label>
            <input
              matInput
              name="selected_time_A"
              [format]="24"
              [(ngModel)]="bookingRequest.startTime"
              [ngxMatTimepicker]="pickerA"
              [max]="max"
              [min]="min"
              readonly
            />
            <mat-icon matSuffix (click)="pickerA.open()">
              watch_later
            </mat-icon>
          </mat-form-field>
          <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
        </div>

        <div class="input mt-1">
          <mat-form-field>
            <mat-label>End time</mat-label>
            <input
              matInput
              name="selected_time_B"
              [format]="24"
              [(ngModel)]="bookingRequest.endTime"
              [ngxMatTimepicker]="pickerB"
              [max]="max"
              [min]="min"
              readonly
            />
            <mat-icon matSuffix (click)="pickerB.open()">
              watch_later
            </mat-icon>
          </mat-form-field>
          <ngx-mat-timepicker #pickerB></ngx-mat-timepicker>
        </div>

        <div>
          <button class="btn btn-primary" (click)="addBookingRequest()">
            Submit
          </button>

          <button class="btn btn-primary">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
