<app-message/>
<section class="p-3 main-con">
  <h3 class="text-center mb-4 mt-1  text-capitalize">{{formTitle}}</h3>
  <div style="background-color: #BAD7E9">
    <form #InputForm="ngForm">
      <div class="row">
        <div class="col-12 col-lg-6 p-5 con__sub-01">
          <div class="mb-4">
            <label class="mb-2" for="user-id">User ID</label>
            <input class="form-control" id="user-id" name="user-id" type="text"  required>
          </div>

          <div class="mb-4">
            <label class="mb-2" >Resource ID:</label>
            <div>
              <input class="form-control mb-3" id="resource-id" name="resource-id" type="text"  >
            </div>
          </div>
        </div>


        <div class="col-12 col-lg-6 p-5 con__sub-02">

          <div class="row">
            <!--          <div class="col-lg-6">-->
            <!--            <div class="mb-4">-->
            <!--              <label class="mb-2" for="company-city">City</label>-->
            <!--              <input class="form-control" name="company-city" id="company-city" type="text">-->
            <!--            </div>-->
            <!--          </div>-->
            <!--          <div class="col-lg-6">-->
            <!--            <div class="mb-4">-->
            <!--              <label class="mb-2" for="company-province">Province</label>-->
            <!--              <input class="form-control" name="company-province" id="company-province" type="text">-->
            <!--            </div>-->
            <!--          </div>-->

<!--            <div class="col-lg-6">-->
<!--              <div class="mb-4">-->
<!--                <label class="mb-2" for="company-email">Email</label>-->
<!--                <input class="form-control" name="company-email" id="company-email" type="email"   >-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-lg-6">-->
<!--              <div class="mb-4">-->
<!--                <label class="mb-2" for="company-fax">fax</label>-->
<!--                <input class="form-control" name="company-email" id="company-fax" type="email"   >-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-lg-6">-->
<!--              <div class="mb-4">-->
<!--                <label class="mb-2" for="company-email">Contact No</label>-->
<!--                <input class="form-control" name="company-Contact" id="company-Contact No" type="email"   >-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-lg-6">-->
<!--              <div class="mb-4">-->
<!--                <label class="mb-2" for="company-mobile">Mobile No</label>-->
<!--                <input class="form-control" name="company-Contact" id="company-mobile" type="email"  >-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-lg-6">-->
<!--              <div class="mb-4">-->
<!--                <input type="checkbox" id="status" name="status" value="true" >-->
<!--                <label for="status">Active</label><br>-->
<!--              </div>-->
<!--            </div>-->

          </div>

          <div class="d-flex gap-3 justify-content-end align-items-center">
            <button class="btn btn-primary" >Submit</button>
            <button class="btn btn-primary">Cancel</button>
          </div>
        </div>


      </div>
    </form>
  </div>
</section>


