<button mat-icon-button style="float: right; margin: 5px" matDialogClose xmlns="http://www.w3.org/1999/html">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
  <header><h5>Forgot Password?</h5></header>

  <form (submit)="sendEmail($event)" #forgotPasswordForm="ngForm">
    <mat-form-field  class="justifier" floatlabel="auto" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        type="email"
        matInput
        name="email"
        id="email"
        [(ngModel)]="user.email"
        #email="ngModel"
        [pattern]="emailPtn"
        class="field"
        formController="email"
        required/>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['required']" class="alert">Email is required.</mat-error>
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['pattern']" class="alert">Enter valid email.</mat-error>
    </mat-form-field>

    <br><br>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary"><mat-icon matSuffix>send</mat-icon>Send Mail</button>
    </mat-dialog-actions>
  </form>

</mat-dialog-content>
