<button mat-icon-button style="float: right; margin: 5px" matDialogClose xmlns="http://www.w3.org/1999/html">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
  <header><h5>Forgot Password?</h5></header>

<!--  <form (submit)="sendEmail($event)" #contactForm="ngForm">-->
    <mat-form-field>
      <input matInput placeholder="Enter your email here">
      <mat-icon matSuffix>drafts</mat-icon>
    </mat-form-field>
<!--  </form>-->

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary">Submit</button>
</mat-dialog-actions>
