<div class="header">
  <div class="container">
    <nav>
      <a href="#" class="logo">ALLOC @</a>
      <ul>
        <li class="ps-5"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="hero">
  <div class="container text ms-5 rounded-4">
    <h1 class="mt-4 ms-3">Allocate Your Resources</h1>
    <p class="mt-4 ms-3">A web app to share resources across ABC Group of Companies</p>

    <button class="btn btn-primary mb-4 ms-3" [routerLink]="['/login']">login page</button>

  </div>
</div>

<div class="features">
  <div class="container">
    <h2>Features</h2>
    <ul>
      <li>Easy to use</li>
      <li>Secure and private</li>
      <li>Customizable user and project settings</li>
      <li>Real-time resource tracking</li>
    </ul>
  </div>
</div>
<footer class="bg-dark">
  <div class="container bg-dark">
    <p>&copy; 2023 ALLOC@ | ABC Group of Companies</p>
    <div class="footer-links">
      <ul style="text-decoration: none">
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>




