    <div class="root">
       <div class="left">
         <img src="assets/img/working_lady.png" >
       </div>
       <div class="right">
          <div class="choice">
              <button [routerLink]="['/dashboard/view/booking-requests/myBookingsRM']" type="button" class="btn btn-primary" id="btn1"><p>My Bookings</p></button>
              <button [routerLink]="['/dashboard/view/booking-requests/mySubBookings']" type="button" class="btn btn-primary" id="btn2"><p>My Subordinates Bookings</p> </button>--
          </div>
       </div>
    </div>

    <!--  <div class="col-12 col-lg-5 p-5 con__sub-02">-->






