
<div class="container-body">
  <div class="container">
    <div class="side">
      <img src="assets/img/lady.png" > <br>
    </div>
    <mat-card>
      <div class="right">
        <button [routerLink]="['/dashboard/view/booking-requests/myBookings']" type="button" class="btn btn-primary" id="btn1"><p>My Bookings</p></button>
        <button [routerLink]="['/dashboard/view/booking-requests/mySubBookings']" type="button" class="btn btn-primary" id="btn2"><p>My Subordinates Bookings</p> </button>
      </div>
    </mat-card>
  </div>
</div>

